<table>
  <tr>
    <td>Name</td>
    <td>Description</td>
  </tr>
  <% @groups.each do |group| %>
    <tr>
      <td><%= group.name %></td>
      <td><%= group.description %></td>
      <td><%= link_to "Show", group_path(group) %></td>
      <td><%= link_to "Edit", edit_group_path(group) %></td>
    </tr>
  <% end %>
</table>

<%= link_to "Create a new group", new_group_path %>
