<h3 class="header-new-edit">Sign Up</h3>

<%= render "error_messages", target: @user %>

<div class="form-new-edit">
  <%= form_for @user do |form| %>

    <div>
      <%= form.label :email %>
      <%= form.email_field :email %>
    </div>
    <div>
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>
    <div class="submit-buttom">
      <%= form.submit "Sign up" %>
    </div>
  <% end %>
</div>
