<h2>Create a New Gallery</h2>

<!-- form would submit to "/galleries" due to "Gallery.new" -->
<%= form_for @gallery do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.submit "Createa Gallery" %>
  </div>
<% end %>
