<%= render "error_messages", target: image%>

<%= form_for [gallery, image] do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :url%>
    <%= form.text_field :url%>
  </div>

  <div class="submit-buttom">
    <%= form.submit %>
  </div>
<% end %>
