<h3>Show Image "<%= @image.name %>"</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Image (<%= link_to "Source", @image.url %>)</th>
    <th>Gallery ID</th>
  </tr>
  <tr>
    <td><%= @image.name.capitalize %></td>
    <td class="gallery_images"><%= image_tag @image.url %></td>
    <td><%= @image.gallery_id %></td>
    <td><%= link_to "Edit", edit_gallery_image_path(@gallery, @image) %></td>
    <td>
      <%= form_for [@gallery, @image], method: :delete  do |form| %>
        <%= form.submit "Delete Image" %>
      <% end %>
    </td>
  </tr>
</table>

<%= link_to ">> Back to see more #{@gallery.name}", gallery_path(@gallery) %>

<hr />

<table>
  <%# <% @comments.each do |comment| would fail %>
  <% @comments.each do |comment| %>
    <tr>
      <th>User</th>
      <th>Comment</th>
      <th>Created Time</th>
    </tr>
    <tr>
      <td><%= comment.user.email %></td>
      <td><%= comment.body %></td>
      <td><%= time_ago_in_words(comment.created_at) %> ago</td>
    </tr>
  <% end %>
</table>

<hr />

<%= render "error_messages", target: @comment %>

<div class="comment-outer-box">
  <div class="comment-inner-box">
    <%= form_for [@image, @comment], class: "comment-form" do |form| %>
      <div class="comment-text">
        <%= form.text_area :body, class: ", class: """ %>
      </div>
      <div class="comment-submit">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>

