<h3>Show Image "<%= @image.name %>"</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Image (<%= link_to "Source", @image.url %>)</th>
    <th>Gallery ID</th>
  </tr>
  <tr>
    <td><%= @image.name %></td>
    <td class="gallery_images"><%= image_tag @image.url %></td>
    <td><%= @image.gallery_id %></td>
  </tr>
</table>

<br />

<%= link_to ">> Back to see more #{@gallery.name}", "/galleries/#{@gallery.id}" %>
