<h3>Show Image "<%= @image.name %>"</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Image (<%= link_to "Source", @image.url %>)</th>
    <th>Gallery ID</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>Who Likes</th>
  </tr>
  <tr>
    <td><%= @image.name.capitalize %></td>
    <td class="gallery_images"><%= image_tag @image.url %></td>
    <td><%= @image.gallery_id %></td>
    <td><%= link_to "Edit", edit_gallery_image_path(@gallery, @image) %></td>
    <td>
      <%= form_for [@gallery, @image], method: :delete  do |form| %>
        <%= form.submit "Delete Image" %>
      <% end %>
    </td>
    <td>
      <% if current_user.likes?(@image) %>
        <%= button_to "Unlike", image_like_path(@image), method: :delete %>
      <% else %>
        <%= button_to "Like", image_like_path(@image) %>
      <% end %>
    </td>
    <td><%= @image.likes.count %></td>
    <td>
      <% @image.likers.each do |liker| %>
        <%= liker.email %><hr />
      <% end %>
      <%# <% @image.likes.each do |like| %>
      <%#   <%= like.user.email %>
      <%# <% end %>
    </td>
  </tr>
</table>

<hr />

<% if current_user == @image.gallery.user %>
  <%= form_for [@image.gallery, @image] do |form| %>
    <%= form.collection_check_boxes(:group_ids, Group.all, :id, :name) %>
    <%= form.submit "Add to groups" %>
  <% end %>
<% end %>

<p>Tags: <%= @image.tag_words %></p>

<table>
  <tr>
    <th>User</th>
    <th>Comment</th>
    <th>Created Time</th>
  </tr>
  <% @comments.each do |comment| %>
    <%= render "comments/comment", comment: comment %>
  <% end %>
</table>

<hr />

<%= render "error_messages", target: @comment %>

<div class="comment-outer-box">
  <div class="comment-inner-box">
    <%= form_for [@image, @comment], class: "comment-form" do |form| %>
      <div class="comment-text">
        <%= form.text_area :body, class: ", class: """ %>
      </div>
      <div class="comment-submit">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>

