<!DOCTYPE html>
<html>
  <head>
    <title>Pixtr</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="header">
      <div class="header-container">
        <span class="header-logo"><%= image_tag "logo.jpg" %></span>
        <h1><a class="header-name" href="/">Pixtr</a></h1>
        <!-- <ul class="header&#45;nav&#45;link"l class="header&#45;nav&#45;link" -->
        <!--   <li></li> -->
        <!--   <li></li> -->
        <!-- </ul> -->
      </div>
    </div>

    <div class="body">

      <div class="main">
        <%= yield %>
      </div>

      <div class="footer">
        <p class="copyright">&copy; synergychen.com / Chen Huang</p>
      </div>

    </div>

  </body>
</html>
