<!DOCTYPE html>
<html>
  <head>
    <title>Pixtr</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="header">
      <div class="header-container">
        <span class="header-logo"><%= image_tag "logo.png" %></span>
        <h1><%= link_to "Pixtr", root_path, class: "header-name" %></h1>
        <!-- <div class="header&#45;nav&#45;link"> -->
        <!--   <ul> -->
        <!--     <li>Gallery</li> -->
        <!--     <li>Image</li> -->
        <!--   </ul> -->
        <!-- </div> -->
      </div>
    </div>

    <div class="body">

      <div class="main">
        <%= yield %>
      </div>

      <div class="footer">
        <p class="copyright">&copy; synergychen.com / Chen Huang</p>
      </div>

    </div>

  </body>
</html>
