<!DOCTYPE html>
<html>
  <head>
    <title>Pixtr</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="header">
      <div class="header-container">
        <span class="header-logo"><%= image_tag "logo.png" %></span>
        <span class="header-title"><%= link_to "Pixtr", root_path %></span>
        <span class="signup-login">
          <% if signed_in? %>
            <%= link_to "Users", users_path %>
            <%= link_to "Groups", groups_path %>
            <%= link_to "Galleries", galleries_path %>
            <%= link_to "Sign out", session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign up", new_user_path %>
            |
            <%= link_to "Sign in", new_session_path %>
          <% end %>
        </span>
      </div>
    </div>

    <div class="body">

      <div class="main">
        <div class="flash-message">
          <% flash.each do |name, msg| %>
            <% if msg.is_a?(String) %>
              <%= content_tag :div, msg, :class => "flash_#{name}" %>
            <% end %>
          <% end %>
        </div>

        <div class="main-content">
          <%= yield %>
        </div>
      </div>

      <div class="footer">
        <p class="copyright">&copy; synergychen.com / Chen Huang</p>
      </div>

    </div>

  </body>
</html>
